.skolmat-wrapper {
	width: 200px;
}

.weekline {
	position: relative;
	height: 2px;
	background: #555;
	margin: 20px 0 15px;
}

.weektext {
	font-size: 20px;
	line-height: 1;
	color: #aaa;
	background: #000;
	display: inline-block;
	padding: 0 10px 0 0;
	position: absolute;
	top: -10px;
	left: 0;
}

.daytitle {
	font-size: 15px;
	margin-top: 7px;
	line-height: 1;
	color: #666;
}

.itemdescription {
	font-size: 15px;
	color: #aaa;
	line-height: 100%;
	margin-bottom: 5px;
}
